
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import "default-values.css";

.hero {
    background: url('../images/favela-social.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon {
    color:  white !important;
}

#carouselControl {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.carousel-img {
    border-radius: 5px;
    width: 10vw;
    height: 50vh;
}

.text-hero {
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
    background: rgba(0, 0, 0, 0.2);
    padding: -1px;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
}

.card {
    padding: 40px;
    margin-bottom: 20px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 1400px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.img-card {
    border-radius: 10px;
    max-height: 450px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #212529;
    color: white;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    color: black;
    font-family: 'Merriweather', serif;
}

.row-noticias {
    margin-left: 20px !important;
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px !important;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-height: 50px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: row;
        text-align: center;
        max-height: 50px;

    }
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}
article {
    max-width: 900px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.article {
    padding-bottom: 60px;
}

.fixed-left-image {
    position: fixed;
    width: 35%;
    top: 0;
    left: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(80%);
    z-index: -1;
}

@media (max-width: 700px) {

    .fixed-left-image {
        width: 100vw;
        height: 25vh;
        position: relative;
        margin-bottom: 25px;
    }

}

/*/
 Direitos
 */
.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: var(--primary-red);
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-dot {
    position: absolute;
    top: 20px;
    left: calc(100% - 10px);
    width: 20px;
    height: 20px;
    background: var(--primary-red);
    border-radius: 50%;
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -10px;
}

.timeline-content {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.iframe-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        width: 100%;
        left: 0;
        text-align: left;
        padding-left: 40px;
    }

    .timeline-item:nth-child(even) {
        left: 0;
        text-align: left;
    }

    .timeline-dot {
        left: 10px !important;
    }

}

.iframe {
    width: 300px;
    height: 300px;
}

.contact-container {
    text-align: center;
    margin-top: 100px;
}
.btn-lg {
    width: 250px;
    margin: 10px;
}
