@import "default-values.css";

.register-form {
    border: 1px solid var(--primary-gray);
    padding: 1em;
    border-radius: 10px;
    background: white;
    box-shadow: var(--primary-blue) 0px 0px 10px;
}

body {
    background: linear-gradient(to bottom, rgb(220, 53, 69), rgb(114, 34, 44));
}

.message-change-view {
    margin-top: 10px;
}
